<div class="headerAndClose">
    <button tabindex="-1" mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div *ngIf="solicitudReserva != undefined">

    <mat-card>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <h3 matLine>Titular de Reserva: {{solicitudReserva.cliente.nombre}}
                        {{solicitudReserva.cliente.apellidos}}</h3>
                    <h3 matLine>Cantidad de Personas: {{solicitudReserva.cantOcupantes}}</h3>
                    <h3 matLine>Fecha Desde: {{solicitudReserva.fechaDesde | date:'dd/MM/yyyy'}}</h3>
                    <h3 matLine>Fecha Hasta: {{solicitudReserva.fechaHasta | date:'dd/MM/yyyy'}}</h3>
                    <h3 matLine>Estado: {{solicitudReserva.estado.descripcion}}</h3>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="solicitudReserva == undefined">


    <mat-card>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <h3 matLine>No existe una solicitud de reserva con el código ingresado</h3>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>