a {
    text-decoration: none;
    float: right;
}

a:hover {
    color: inherit;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
    background-color: white !important;
}

.title {
    font-size: xx-large;
}